#tbody > tr > td {padding-left:18px;padding-right:18px;}
.google{background-color:#fbce4f}
.one{background-color:#094ab1}
.drop{background-color:#1081de}
.face{background-color:#47639e}
.empty{background-color:gray}
.right{text-align:right}
.height{height:40px}
.lh{line-height:40px}

#lnb li{border: 0;}
#lnb.nav li{height:15px:padding:0 0 0 15px}

#logout{margin:15px}

.width{width:1200px}
.bar{float:left;width:970px}
.center{text-align:center}
.margin{margin-right:auto;margin-left:auto}
.relative{position:relative}
/*.radius{border-radius:20px}*/
.padding{padding:2em 0 0 10em}
.button{float:right;width:82px}
.zindex{z-index:1}
body{background:url(../img/bg.jpg) repeat-x}
.social-text{padding:0 0 0 23px}
.fa{padding:5px 0 0}
.li-div{position:absolure;margin:0;pading:0}
.fa-arrow-right:before{padding:0 0 0 10px}
.nav-pills li{border:1px solid #e7e7e7}
#arrow-off{padding:1px}
#name{width:280px}
#scrollbar{width:250px;margin:0;padding:0}
.top{height:100px}
.panel-body{width:930px;padding:5px 5px 5px 15px;align:right}
#side-menu{margin:0 0 0 16px}
.navbar-brand{padding:-100px}
.navbar-collapse{padding-left:169px}
.style-default{height:506px}
#page-wrapper{height:580px}
#wrapper{margin-top:15px;opacity:1}
.left{text-align:left}
.imgsize{width:50px;height:40px}

.cloudicon{margin:20px auto}
.cloudicon >div{float:left;margin-left:30px}
.logoutbtn{margin-top:10px;color:#fff;background-color: #3b5897;border-radius:3px;border:none;font-weight:bold}
#kakaoUpPopup{z-index:999; position: fixed; top:50px; left:50px; border:15px solid #eee; background-color: #eee; box-shadow: 3px 5px 5px;}

